extends ../../layouts/base.pug

block content 
    div.boardList.bl
        div.bl__titleArea 
            h2 LOL BOARD 
            div 
        div.bl__columnArea.pc
            ul.bl__columnArea__list.pc
                li 번호pc
                li 제목pc
                li 작성자pc
                li 작성일pc
                li 조회수pc
        div.bl__columnArea.moblie
            ul.bl__columnArea__list.moblie
                li 제목mo
                li 작성자mo
                li 작성일mo
                


