.area1,
.area3 {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: row;
    

}

.area1 div,
.area3 div {
    width: 50%;
    height: 100%;
    
}

.area2 {
    width: 100%;
    height: 300px;
    background-color: blue;
}


.area1 div,
.area3 div,
.area2 {
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}