extends ../../layouts/base.pug

block content 
    section.area1
        div.area1__left 이미지가 들어감
        div.area1__right 글씨가 들어감
    section.area2 글씨가 들어감
    section.area3
        div.area3__left 글씨가 들어감
        div.area3__right 이미지가 들어감